.footer {
    background-color: $secondary-dark;
    padding-top: 30px;
    padding-bottom: 3rem;

    @include respond-to('small') {
        padding-top: 8rem;
        display: flex;
    }

    .container {
        @include respond-to('xsmall') {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }

    &__logo {
        width: 22rem;
        display: inline-block;
        margin-bottom: 2rem;
    }

    &__info {
        margin-bottom: 30px;

        @include respond-to('xlarge') {
            margin-bottom: 3rem;
        }

        a {
            &:hover {
                color: $primary;
                transform: all .3s ease-in-out;
            }
        }

        &-location {
            p {
                margin-bottom: 3px;

                @include respond-to('xlarge') {
                    margin-bottom: .3rem;
                }
            }
        }
    }

    &__nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include respond-to('small') {
            flex-direction: row;
        }

        p,
        li {
            color: #fff;
        }

        li {
            a {
                padding: 5px 0;
                display: inline-block;

                @include respond-to('xlarge') {
                    padding: .5rem 0;
                }

                &:hover {
                    color: $primary;
                    transition: all .3s ease-in-out;
                }
            }
        }

        &-title {
            text-transform: uppercase;
            @extend %size_h4;
            font-weight: 700;
            margin-bottom: 1rem;
            font-family: $title-font;
        }

        &-list {
            margin-bottom: 25px;
            width: 48%;

            @include respond-to('small') {
                width: 33%;
                min-width: 20rem;
            }
        }

        &-logo {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 25px;

            @include respond-to('small') {
                flex-direction: column;
                justify-content: flex-start;
                width: 33%;
                width: 20rem;
            }

            span {
                display: block;
                width: 20rem;
            }

            li {
                width: 48%;

                @include respond-to('small') {
                    width: 100%;
                    margin-bottom: 3.2rem;
                }

                a {
                    max-width: 19rem;
                }
            }
        }
    }

    &__copyright {
        padding-top: 3rem;

        @include respond-to('xsmall') {
            width: 100%;
            margin-top: 1rem;
        }

        p {
            color: $primary;
            text-align: center;
            font-size: 14px;
            margin-top: 12px;
        }
    }

    &__logos-group {
        display: flex;
        align-items: center;
        justify-content: center;

        span {
            flex-shrink: 0;
            font-size: 16px;
            font-size: 12px;
            font-family: $title-font;
            font-weight: 300;
            margin-left: 13px;
            margin-right: 13px;

            @include respond-to('small') {
                font-size: 16px;
            }
        }

        &--sky {
            width: 30%;
            max-width: 180px;
            min-width: 120px;
        }

        &--i4see {
            max-width: 100px;

            @include respond-to('small') {
                max-width: 110px;
            }
        }

    }

}