$xsmall: 490px;
$small: 768px;
$medium: 990px;
$large: 1210px;
$xlarge: 1460px;
$xxlarge: 1600px;
$huge: 1930px;
$white: #fff;
$primary: #00CBD8;
$secondary: #12182A;
$secondary-dark: #030013;
$black: #000;
$border-color: rgba(255, 255, 255, 0.8);
$border-color-second: #979797;
$font_color: rgba(255, 255, 255, .8);
$font_color_dark: #373737;
$font_color_light: #737373;
$shadow-small: 0 10px 30px -5px rgba(0, 0, 0, 0.5);
$shadow: 0 10px 40px -5px rgba(0, 0, 0, 0.5);
$background-gradiend: linear-gradient(135deg, #ffffff33 0%, #ffffff0a 100%);
$background-gradiend-button: linear-gradient(135deg, #0B7988 0%, #154556 100%);
$background-gradiend-blue: linear-gradient(135deg, #00E7EE 0%, #0B7988 0%, #154556 100%);
$circle-shadow: 0 0 9px 0 #00CBD8,
0 4px 20px 0 rgba(0, 203, 216, .3),
inset 0 0 20px 0 #00CBD8;
$lihgt_grey: #F0F0F0;
$error: #dc3232;
$success: #49ba53;
$main-font: 'Lato',
sans-serif;
$title-font: 'Poppins',
sans-serif;